@media only screen and (max-width: 600px) {

html{
    scroll-behavior: smooth;
}

body{
    
    background-image: url(assets/background.jpg);
    background-size: 100%;
    background-color: #e4e4ee;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0%;
    
}



footer {
   
    background-color: black;

}

footer p{

    color: white;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-style: italic;

}


#intro H1{

    font-size: 3em;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
.material-icons{

    color: black;
    display: block;
    
}
#titre{
    
    height: 100vh;
    
   
      
}

#coord{

    
   
    
    
}

#intro a{
    display: block;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
    text-decoration-line:overline;
    

}

#intro H3{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-left: 0%;
}

#logo{
    display: block;
    margin-top: 25%;
    
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    justify-content: center;
}

#formation{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/formation.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
    
     
}

#formation:hover .details{
    display:block;

    animation-duration: 0.2s;
  animation-name: anim;
  
}



.details{

    display: none;
    background-color: gainsboro; 
   

}



#formation H2{

    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #e4e4ee 2px 2px ;
    
}

H3{

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;

}

H4{

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

}

H5{

    color: black;
    font-family: 'Montserrat', sans-serif;
    
    text-align: right;
    margin-right: 5%;

}

p{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-style: italic;
}

#photo{

    background-color: darkgrey;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#avatar{

    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#competences{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/competence.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gainsboro;
    
    
}
#competences:hover .details{
    display:block;

    animation-duration: 0.2s;
  animation-name: anim;
  
}

#competences H2{

    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #e4e4ee 2px 2px ;
    
}

#exp{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/experience.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gainsboro;
      
}

#exp:hover .details{
    display:block;

    animation-duration: 0.2s;
  animation-name: anim;
  
}

#exp H2{
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #e4e4ee 2px 2px ;

}

#loisirs{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/aboutme.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gainsboro;
      
}

#loisirs:hover .details{
    display:block;

    animation-duration: 0.2s;
  animation-name: anim;
  
}

#loisirs H2{
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 33px;
    text-shadow: #e4e4ee 2px 2px ;

}


@keyframes anim {
    from {
        transform: translateY(-4em);
        opacity: 0;
    }
  
    to {
  
    transform: translateY(0em);
        opacity: 1;
      
    }
  }
}