@media only screen and (max-width: 1024px) {

/* ///////////////////////DARKMODE OPTIONS////////////////////////// */
.dark-mode{

    background-color: rgb(53, 50, 50);
     
}

.dark-mode #intro H3{

    color: white;
}

.dark-mode #intro H1{

    color: white;
}

.dark-mode #intro a{

    color: white;
}

.dark-mode .material-icons{

    color: white;
}

.dark-mode #logo{

    display: none;
}

.dark-mode #logow{

    display: block;
    margin-top: 100px;
    background-blend-mode:luminosity;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    justify-content: center;
    max-width: 400px;
    max-height: 500px;

}

.dark-mode #link{

    display: none;

}

.dark-mode #linkw{

    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

.dark-mode #download {

    display: none;
}

.dark-mode #downloadw{

    display: block;
    margin-right: auto;
    margin-left: auto;

}

.dark-mode #mail{

    display: none;

}

.dark-mode #mailw{

    display: block;

}


/* //////////////////ANIMATIONS KEYFRAMES//////////////////// */

@keyframes anim {
    from {
        transform: translateY(-4em);
        opacity: 0;
    }
  
    to {
  
    transform: translateY(0em);
        opacity: 1;
      
    }
  }


/* //////////////////LOGO ET IMAGES///////////////////// */

#logo{

    display: block;
    margin-top: 100px;
    background-blend-mode:luminosity;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    justify-content: center;
    max-width: 400px;
    max-height: 500px;

}

.material-icons{

    color: black;
    display: block;
    
}

.night{

    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    cursor: pointer;
    caret-color: transparent;

}

.download{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

#logow{

    display: none;
}

#linkw{

    display: none;
}

#downloadw{

    display: none;
}

#mailw{

    display: none;
}

#photo{

    background-color: darkgrey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 250px;
    width: 250px;

}

#avatar{

    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}


/* //////////////////////COMMUNS/////////////////////// */

body{
    
    background-color: #e4e4ee;
    display: flex;
    flex-direction: column;
    margin: 0%;
    
}

H3{

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;

}

H4{

    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

}

H5{

    color: black;
    font-family: 'Montserrat', sans-serif;
    
    text-align: right;
    margin-right: 5%;

}

p{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-style: italic;
}

footer p{

    color: grey;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-style: italic;

}


/* //////////////////////SECTION INTRO//////////////////////// */

#intro H1{

    font-size: 3em;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

#intro a{

    display: block;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
    text-decoration-line:overline;
    
}

#intro H3{

    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: uppercase;
    margin-left: 0%;

}


/* //////////////////////SECTION FORMATIONS///////////////////// */

#formation{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/formation.png);
    background-size: 100%;
    background-repeat: no-repeat;
       
}

#formation:hover .details{

    display:block;
    animation-duration: 0.2s;
    animation-name: anim;
  
}

.details{

    display: none;
    background-color:#dcdce6;
   
}

#formation H2{

    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #e4e4ee 2px 2px ;
    
}


/* /////////////////////SECTION COMPETENCES////////////////////// */

#competences{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/competence.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gainsboro;
      
}

#competences:hover .detailss{

    display:block;
    animation-duration: 0.2s;
    animation-name: anim;
  
}

.detailss{

    display: none;
    background-color: #dcdce6; 
   
}

#competences H2{

    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #e4e4ee 2px 2px ;
    
}


/* /////////////////////////////SECTION EXPERIENCES////////////////////////// */

#exp{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/experience.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gainsboro;
      
}

#exp:hover .detailsss{

    display:block;
    animation-duration: 0.2s;
    animation-name: anim;
  
}

.detailsss{

    display: none;
    background-color: #dcdce6; 
   
}

#exp H2{

    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-shadow: #e4e4ee 2px 2px ;

}


/* /////////////////////////SECTION LOISIRS///////////////////////// */

#loisirs{
    
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(assets/aboutme.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: gainsboro;
      
}

#loisirs:hover .detailssss{

    display:block;
    animation-duration: 0.2s;
    animation-name: anim;
  
}

.detailssss{

    display: none;
    background-color: #dcdce6; 
   
}

#loisirs H2{
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 33px;
    text-shadow: #e4e4ee 2px 2px ;

}

}